{%extends 'ecommerce/index.html'%}

{%block title%}Shop - Mobiles{%endblock%}

{%block content%}
  
<div>
    <div>
      <img class='img-fluid rounded my-4'
        src="https://img.zoommer.ge/zoommer-images/thumbs/0195168.png"
        alt="">
    </div>
    <h1> Mobiles </h1>
    <div class="row">
      {%for datas in data %}
        {%if datas.category == 'Mobile'%}
          
          <div class="col-3" style="position:relative;">
            <div class='item-card p-3'>
              <div class="mt-2 text-center">
                <img
                  height="200"
                  src="/{{datas.img_url}}"
                  alt="">
              </div>
              <div class="mt-4">
                <div>
                  <a href="/product/{{datas.id}}" class="product-link">
                    {{datas.name}}
                  </a>
                  <div>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star "></span>
                  </div>
                </div>
                <h6 class="py-1">$ {{datas.price}}</h6>
                <div style="position:absolute;top:30%;left:25%;" >
                  <button 
                  class="cart-btn btn btn-primary" 
                  onclick="addcart('{{datas.id}}')"
                  >
                  Add to cart <i class="fa-solid fa-cart-shopping"></i>
                </button>
                </div>
                
              </div>
            </div>

          </div>
          {%endif%}
      {%endfor%}
      
    </div>
  </div>
{%endblock%}
  